# API
API_URL=https://greenly-api.duckdns.org/api/core
CATALOG_API_URL=https://greenly-api.duckdns.org/api/catalog

# Auth session (minimum 32 karakter)
SESSION_SECRET=change-this-to-a-random-string-of-at-least-32-characters

# Environment
NODE_ENV=development
