api:
  dashboard: true
  insecure: true

log:
  level: DEBUG

entryPoints:
  web:
    address: ":80"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    # Sangat penting: Traefik hanya akan melihat container di network ini
    # network: greenly_network 
    watch: true
  
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true